
body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   /* background-color: linear-gradient(to right, #ff7e5f, #feb47b);*/
}

h1 {
    color: #333;
    display: inline;

}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background:#C0504D;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background: #fff;
    color: #C0504D;
    border: 1px solid #C0504D;
}

p {
    font-size: 20px;
    color: #333;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


.centered-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 70%;
    text-align: center;
}

h2 {
    color: #d32f2f;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    color: #333;
}

.input-group input {
    width: 100%;
    height:100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#logo-container {
    position: fixed;
    top: 1px;
    left: 10px;
}

#logo-container img {
    width: 120px; 
    height: auto;
}

